
header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 28px;
    color: white;
}

header a.logo img {
    width: 70px;
    margin-right: 10px;
}

header .search-box {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: white;
    overflow: hidden;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

main {
    position: relative;
    height: auto;
}

main ol.links {
    position: absolute;
    top: 50%;
    right: 8%;
    z-index: 2;
    color: white;
    list-style-type: none;
    transform: translateY(-50%);
}

main ol.links a {
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    margin: 30px 0;
    text-align: right;
    opacity: 0.5;
    transition: all 0.5s ease-in;
}

main ol.links a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: white;
    transition: all 0.5s ease-in;
}

main ol.links a.active, main ol.links a:hover {
    opacity: 1;
    transition: all 0.5s ease-in;
}

main ol.links a.active::after, main ol.links a:hover::after {
    right: -40px;
    width: 30px;
    transition: all 0.5s ease-in;
}

.large-header {
    position: relative;
    width: 100%;
    background: #01070c;
    background: radial-gradient(circle, #052039, rgb(2, 16, 36) 60%);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
#large-header {
    background-image: url('../images/bg.jpg');
}

.links{
    padding-bottom: 900px;
    display: block;
  }


  
.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    display: none;
  }
  
  .bar {
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .links {
    display: block;
  }
  
  .navigation.active {
    display: block;
  }
  
  @media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
    .links{
        display: none;
    }
  

    .navigation {
        display: flex;
    }
  
    .navigation li {
        margin-right: 100px;
    }
  }
  @media (max-width: 768px) {
    .hamburger-menu {
        display: none;
    }
    .links {
        display: none;
    }
  }